/* Select all elements */
* {
    text-decoration-line: line-through;
    background-color: aliceblue;
}

/* Select all element p*/
p {
    color: green;
}

/* Select by id */
#idSelector {
    color: aqua;
}

/* Select by class */
.title {
    text-align: center;
    color: red;
}

/* Grouped element select */
/* h1, p {
    text-shadow: 2px 2px;
} */

#withBorder {
    border: 3px solid tomato;
}

#dashedBorder {
    border-width: 10px;
    border-style: dashed;
    border-color: blue;
}

#dottedBorder {
    border-width: 40px;
    border-top-style: dotted;
    border-left-style: solid;
    border-color: violet;
}

#specificWidth {
    border-width: 10px 100px 30px 70px;
    border-style: solid;
    border-color: tomato aqua;
    border-radius: 5px;
}